* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:empty {
  height: 1rem;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #eefff5;
}

::-webkit-scrollbar-thumb {
  background: #9affc9;
}

::-webkit-scrollbar-thumb:hover {
  background: #78fdb7;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 22.5rem;
  font-size: 1.15rem;
  background-color: #eefff5;
  color: #002715;

  nav {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #14ae5c;
    border-bottom: 1px solid #14ae5c;
    width: 100%;
    padding: 1rem 0;

    #ask {
      display: flex;
      font-size: 1.2rem;
      padding: 0.75rem 1.5rem;
      border-radius: 0.5rem;
      align-items: center;
      flex-direction: column;
      font-weight: bold;
      color: #14ae5c;
      border: 1px solid #14ae5c;
      background-color: #eefff5;

      &:hover {
        cursor: pointer;
        background-color: #d8ffea;
      }

      &:active {
        background-color: #36f291;
        color: #eefff5;
      }
    }
  }

  #result {
    display: flex;
    flex-direction: column;
    // padding: 1rem;

    & > div {
      padding: 1rem;
      border-bottom: 1px solid #14ae5c;

      &:nth-child(1) {
        position: relative;
        z-index: 10;

        &::before {
          content: 'Pergunta: ';
          display: block;
          font-weight: bolder;
          text-transform: uppercase;
          text-align: end;
          font-size: 0.9rem;
        }

        &::after {
          content: '?';
          display: block;
          color: #d8ffea;
          position: absolute;
          font-weight: bold;
          text-align: end;
          font-size: 7rem;
          z-index: -1;
          bottom: -1.25rem;
          right: 0.75rem;
        }
      }
      &:nth-child(2) {
        position: relative;
        z-index: 10;

        &::before {
          content: 'resposta: ';
          display: block;
          font-weight: bolder;
          text-transform: uppercase;
          text-align: end;
          font-size: 0.9rem;
        }
      }

      &:not(:last-child) {
        margin-bottom: 1rem;
        padding-bottom: 1rem;
      }
    }

    ul,
    ol {
      padding-left: 2rem;
    }

    .instruction-list {
      padding: 1rem 0;
      li {
        &::marker {
          font-weight: bold;
          color: #14ae5c;
        }
      }
    }
  }
}
